.sidebar{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.sidebar a{
    text-decoration: none;
    transition: all 0.5s;
    color: black;
    font: 200 1rem;
    padding: 2rem; 
    transition: all 0.5s;
}
.sidebar li>p{
    margin-left: 2rem;
}

.sidebar a>p{
    display: flex;
    align-items: center;
}
.sidebar a:hover{
    color: blue;
    transform: scale(1.1);
}
.sidebar>li>ul>li>a:hover{
    color: blue;
}
.sidebar li>p{
    transition: all 0.5s;
}
.sidebar li>p:hover{
    color: blue;
    transform: scale(1.1);
}